
<div class="container">
    <h3> <u style="color: chartreuse;">{{userName}}</u> Order Details</h3>
<div class="container card ">
  <div class="row">
      <div class="col 3">
          <h3></h3>
      </div>
      <div class="col 3">
          <h1></h1>
      </div>
       <table border="5" class="table table-hover table-responsive-md" >
          <tr class="thead dark">
              <th>Order Id</th> 
              <th>Customer First Name</th><th>Customer Last Name</th><th>Customer Address</th>
              <th>Product Name</th><th>Product Image </th><th>product Description</th>
              <th>Total Bill</th><th>User Name</th>
          </tr>
          <tr *ngFor="let UserOrderDetails of userAllOrder">
              <td >{{UserOrderDetails.orderid}}</td>
              <td>{{UserOrderDetails.firstname}}</td>
              <td>{{UserOrderDetails.lastname}}</td>
              <td>{{UserOrderDetails.customeraddress}}</td>
              <td>{{UserOrderDetails.productname}}</td>
              <td><img src='{{UserOrderDetails.productimage}}' style="width:120px;" alt="image"></td>
              <td>{{UserOrderDetails.productdescription}}</td>
              <td style="color: #B12704; ">{{UserOrderDetails.productgrandtotal  |currency:'INR'}}</td>
              <td>{{UserOrderDetails.username}}</td>
             
           </tr> 
      </table> 
      
  </div>

</div>




