<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="card">
        <div class="box">
          <div class="text-center mb-4">
            <h3>User Login</h3>
            <hr>
            <h6> Please enter your login and password!</h6>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter User Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
                placeholder="Enter Password">
              <span class="text-danger"
                *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is
                required</span>
            </div>
            <button type="submit" [disabled]="loginForm.valid" class="btn btn-primary mt-3">Login</button>
          </form>
          <a [routerLink]="['/register']" style="float: right;">New User? Click to SignUp!</a>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>